[Setup]
indir= /Users/chelseahuang/Documents/2018Spring/FFIToolsPub/PATools/etc/  
#outdir= 
infile= "tess2019129080826-4-4-0016-s_ffic.fits" 


[Catalog]
catfile='catalog-ete6.txt'
ra0= 261.74 
dec0= 74.7606
ra= 261.74
dec= 74.7606
width=15.

[Fistar]
threshold=30000

[Fiphot]
magtoflux=18
gain=2.0
skyfit_sigma=3
skyfit_niter=2
disjoint_radius=2
apertures='2.5:4.0:3.0'

[Anet]
order=4
maxdistance=1
